{% extends "::base.html.twig" %}

{% block title %}Projet Terre Lune{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/projet.css') }}" />
{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Parcourez ensemble la distance Terre-Lune!</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p>
          <strong>{{ utilisateur.nom }} {{ utilisateur.prenom }}</strong> vous êtes inscrit pour contribuer à ce projet! <br /><br />
          Vous devez parcourir un total de <strong>{{ distanceARealiser }} km</strong> pendant la durée totale du projet. <br /> <br />
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 text-right">
        <p>
          Depuis le début du projet:
        </p>
      </div>
      <div class="col-sm-8">
        <div class="progress">
          <span class="progress-value">{{ distanceAdherent }} km sur {{ distanceARealiser }} km</span>
          <div class="progress-bar" role="progressbar" aria-valuenow= {{ distanceAdherent }} aria-valuemin="0" aria-valuemax= {{ distanceARealiser }}  style="width:{{ distanceAdherent / distanceARealiser * 100}}%">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 text-right">
        <p>
          Cette semaine:
        </p>
      </div>
      <div class="col-sm-8">
        <div class="progress">
          <span class="progress-value">{{ distanceSemaine }} km sur {{ monProfilProjet.distance }} km</span>
          <div class="progress-bar" role="progressbar" aria-valuenow= {{ distanceSemaine }} aria-valuemin="0" aria-valuemax= {{ monProfilProjet.distance }}  style="width:{{ distanceSemaine / monProfilProjet.distance * 100}}%">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <br /><br /><p>En cumulant tous les adhérents, vous avez fait la distance suivante:</p>
        <h2>{{ distanceTotale }} km / {{ distanceTerreLune }} km</h2> <br /><br />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 text-center">
        <img class="image-earth" src="{{ asset('images/earth.jpg') }}" alt="image terre">
      </div>
      <div class="col-sm-8">
        <div class="progress" style="margin-top:3em">
          <span class="progress-value">Progression totale</span>
          <div class="progress-bar" role="progressbar" aria-valuenow= {{ distanceTotale }} aria-valuemin="0" aria-valuemax= {{ distanceTerreLune }}  style="width:{{ distancePourcentage }}%">
          </div>
        </div>
      </div>
      <div class="col-sm-2 text-center">
        <img class="image-moon" src="{{ asset('images/moon.jpg') }}" alt="image lune">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <br /><br />
        <a href="{{ path('asso_sport_projet_ajout') }}" class="btn btn-default " role="button">Ajouter une activité</a>
      </div>
    </div>
  </div>


{% endblock %}
