{% extends "::base.html.twig" %}

{% block title %}Projet Terre Lune{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/projet.css') }}" />
{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Parcourez ensemble la distance Terre-Lune!</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p>
          <strong>{{ utilisateur.nom }} {{ utilisateur.prenom }}</strong> vous êtes inscrit pour contribuer à ce projet! <br /><br />
          Vous devez parcourir <strong>{{ monProfilProjet.distance }} km par semaine</strong>, soit un total de <strong>{{ distanceARealiser }} km</strong> pendant la durée totale du projet. <br /> <br />

          Depuis le début du projet, vous avez parcouru <strong>{{ distanceAdherent }} km</strong>. <br />  <br />


          Cette semaine vous avez parcouru <strong>{{ distanceSemaine }} km</strong>. <br /><br /> <br /><br />

          En cumulant tous les adhérents, vous avez fait la distance suivante:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>{{ distanceTotale }} km / {{ distanceTerreLune }} km</h2> <br /><br />
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow= {{ distanceTotale }} aria-valuemin="0" aria-valuemax= {{ distanceTerreLune }}  style="width:{{ distancePourcentage }}%">
            Progression
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <br /><br />
        <a href="{{ path('asso_sport_projet_ajout') }}" class="btn btn-default " role="button">Ajouter une activité</a>
      </div>
    </div>
  </div>

{% endblock %}
