<!DOCTYPE html>
<html>
  <head>
    <title>Projet Terre-Lune</title>
  </head>
  <body>
    <h1>Parcourez ensemble la distance Terre-Lune!</h1>
    <p>
    {{ utilisateur.nom }} {{ utilisateur.prenom }} vous êtes inscrit pour contribuer à ce projet! <br />
    Vous devez parcourir {{ monProfilProjet.distance }} km par semaine, soit un total de {{ distanceARealiser }} km pendant la durée totale du projet. <br /> <br />

    Depuis le début du projet, vous avez parcouru {{ distanceAdherent }} km <br />  <br />


    Cette semaine vous avez parcouru {{ distanceSemaine }} km. <br /><br />

    En cumulant tous les adhérents, vous avez fait la distance suivante: {{ distanceTotale }} km / 384 400 km
    

    </p>
  </body>
</html>