{% extends "::base.html.twig" %}

{% block title %}Projet Terre Lune{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/projet.css') }}" />
{% endblock %}

{% block body %}

  <div class="container">
    <h1>Parcourez ensemble la distance Terre-Lune!</h1>
  </div>

  <div class="container">
    <p>
    {{ utilisateur.nom }} {{ utilisateur.prenom }} vous êtes inscrit pour contribuer à ce projet! <br />
    Vous devez parcourir {{ monProfilProjet.distance }} km par semaine, soit un total de {{ distanceARealiser }} km pendant la durée totale du projet. <br /> <br />

    Depuis le début du projet, vous avez parcouru {{ distanceAdherent }} km <br />  <br />


    Cette semaine vous avez parcouru {{ distanceSemaine }} km. <br /><br />

    En cumulant tous les adhérents, vous avez fait la distance suivante: {{ distanceTotale }} km / {{ distanceTerreLune }} km
    </p>
  </div>

  <div class="container">
    <h2>{{ distanceTotale }} km / {{ distanceTerreLune }} km</h2>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow= {{ distanceTotale }} aria-valuemin="0" aria-valuemax= {{ distanceTerreLune }}  style="width:{{ distancePourcentage }}%">
        Progression
      </div>
    </div>
  </div>

  <div class="container">
    <a href="{{ path('asso_sport_projet_ajout') }}" class="btn btn-default " role="button">Ajouter une activité</a>
  </div>

{% endblock %}
