<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Asso Sport{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('images/test.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% block stylesheets %}{% endblock %}
        {% block scriptlink %}{% endblock %}
    </head>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <img class="logo-asso pull-left" src="{{ asset('images/text.png') }}" alt="image asso">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{ path('asso_sport_accueil_homepage') }}"> Accueil</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p class="navbar-text ">Connecté en tant que {{ app.user.username }}</p>
        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default navbar-btn pull-right" role="button">Déconnexion</a>
        <a href="{{ path('asso_sport_accueil_projet') }}" class="btn btn-default navbar-btn pull-right" role="button">InscriptionProjets</a>
        <a href="{{ path('fos_user_change_password') }}" class="btn btn-default navbar-btn pull-right" role="button">Change Password</a>
        {% else %}
        <a href="{{ path('fos_user_security_login') }}" class="btn btn-default navbar-btn pull-right" role="button">Connexion</a>
        <a href="{{ path('asso_sport_accueil_formulaire') }}" class="btn btn-default navbar-btn pull-right" role="button">Inscription</a>
        {% endif %}
      </div>
    </div>

    <body>
      {% block body %}{% endblock %}
    </body>

    <footer class="footer">
      <div class="container-fluid">
        <p><strong>Copyright ...</strong><br /> LOGOS</p>

      </div>
    </footer>
</html>
