<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Asso Sport{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('images/test.ico') }}" />
        <script src="{{ asset('js/jquery.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block stylesheets %}{% endblock %}
        {% block scriptlink %}{% endblock %}
    </head>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><img class="logo-asso" src="{{ asset('images/text.png') }}" alt="image asso"></li>
          <li class="active"><a href="{{ path('asso_sport_accueil_homepage') }}">Accueil</a></li>
          {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('asso_sport_admin_homepage') }}">Espace Admin</a></li>
          {% endif %}
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <li><p class="navbar-text text-center">Connecté en tant que {{ app.user.username }}</p></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a  class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-user"></span> MENU <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <li><a href="{{ path('asso_sport_accueil_projet') }}">Inscription Projets</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
              <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
              {% else %}
              <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
              <li><a href="{{ path('asso_sport_accueil_formulaire') }}">Inscription</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <body>
      {% block body %}{% endblock %}
    </body>

    <footer class="footer">
      <div class="container-fluid">
        <p><strong>Copyright ...</strong><br /> LOGOS</p>

      </div>
    </footer>
</html>
