{% extends "::base.html.twig" %}

{% block title %}Catégories stats{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/form_admin.css') }}" />
{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Voici le nombre de personnes inscrites par catégories:</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4>
        Nombre de personnes en catégorie Le 1er quartier: {{ nbUtilisateursUn }} <br />
        Nombre de personnes en catégorie Le Croissant: {{ nbUtilisateursDeux }} <br />
        Nombre de personnes en catégorie La gibeuse: {{ nbUtilisateursTrois }} <br />
        Nombre de personnes en catégorie La pleine lune: {{ nbUtilisateursQuatre }} <br />
      </h4>
      </div>
    </div>
  </div>

{% endblock %}
