{% extends "::base.html.twig" %}

{% block title %}Stats derniers mois{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/form_admin.css') }}" />
{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Statistiques des 4 derniers mois</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Mois</th>
              <th>Cumul des activités physiques</th>
              <th>Intensités moyennes</th>
            </tr>
            </thead>
          <tbody>
            <tr>
              <td>{{ dateCeMois }}</td>
              <td>{{ tempsMois }}</td>
              <td>{{ moyenneSensation }}</td>
            </tr>
            <tr>
              <td>{{ dateMois1 }}</td>
              <td>{{ tempsMois1 }}</td>
              <td>{{ moyenneSensation1 }}</td>
            </tr>
            <tr>
              <td>{{ dateMois2 }}</td>
              <td>{{ tempsMois2 }}</td>
              <td>{{ moyenneSensation2 }}</td>
            </tr>
            <tr>
              <td>{{ dateMois3 }}</td>
              <td>{{ tempsMois3 }}</td>
              <td>{{ moyenneSensation3 }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

{% endblock %}
