{% extends "::base.html.twig" %}

{% block title %}Stats derniers mois{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/form_admin.css') }}" />
{% endblock %}

{% block scriptlink %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Statistiques des 4 derniers mois pour {{ utilisateur.nom }} {{ utilisateur.prenom }}</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class=" col-md-5 text-center">
        <h3>Cumul des activités physiques par mois</h3>
          {{ include("AssoSportAdherentBundle:Chart:AP_chart.html.twig") }}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5 text-center">
        <h3>Intensités moyennes</h3>
        {{ include("AssoSportAdherentBundle:Chart:int_chart.html.twig") }}
      </div>
    </div>
  </div>

{% endblock %}
