{% extends "::base.html.twig" %}

{% block title %}Ajout sport{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/form_admin.css') }}" />
{% endblock %}

{% block body %}


<link rel="stylesheet" href="{{ asset('css/form.css') }}" />

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Vous pouvez ici ajoutez de nouveaux sport</h3>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

          {{ form_start(form) }}

          <div class="form-group">
            {{ form_label(form.nom, 'Nom du nouveau sport', {'label_attr': {'class': 'col-sm-2 control-label required'}}) }}
            <div class="col-sm-10">{{ form_widget(form.nom, {'label_attr': {'class': 'form-control'}}) }}</div>
            {{ form_errors(form.nom) }}
          </div>
          <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">{{ form_widget(form.typeDistance, {'label_attr': {'for': 'assosport_accueilbundle_utilisateur_adherent'}}) }}
            </div>
            {{ form_errors(form.typeDistance) }}
          </div>
          <div class="form-group">
            {{ form_label(form.typeSport, 'Type de sport', {'label_attr': {'class': 'col-sm-2 control-label required'}}) }}
            <div class="col-sm-10">{{ form_widget(form.typeSport, {'label_attr': {'class': 'form-control'}}) }}</div>
            {{ form_errors(form.typeSport) }}
          </div>

          <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}</div>
          </div>

          {{ form_end(form) }}
        </div>
      </div>
    </div>


{% endblock %}
