{% extends "::base.html.twig" %}
{% block body %}


<link rel="stylesheet" href="{{ asset('css/form.css') }}" />

    <div class="container">
      <div class="col-sm-10">
        <h3>Page d'accueil administrateur </h3>
      </div>
    </div>

    <div class="container">
      <a href="{{ path('asso_sport_admin_profil') }}" class="btn btn-default " role="button">/profil</a>
      <a href="{{ path('asso_sport_admin_sport') }}" class="btn btn-default " role="button">/sport</a>
      <a href="{{ path('asso_sport_admin_projet') }}" class="btn btn-default " role="button">/projet</a>
      <a href="{{ path('asso_sport_admin_typesport') }}" class="btn btn-default " role="button">/typesport</a>
      <a href="{{ path('asso_sport_admin_profilprojet') }}" class="btn btn-default " role="button">/profilprojet</a>
      <a href="{{ path('asso_sport_admin_listemembresasso') }}" class="btn btn-default " role="button">/membres/asso</a>
      <a href="{{ path('asso_sport_admin_listemembresprojet') }}" class="btn btn-default " role="button">/membres/projet</a>
      <a href="{{ path('asso_sport_admin_listeall') }}" class="btn btn-default " role="button">/membres</a>
      <a href="{{ path('asso_sport_admin_listeactivites') }}" class="btn btn-default " role="button"> /activites</a>


    </div>

{% endblock %}
