{% extends "::base.html.twig" %}

{% block title %}Accueil Administrateur{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
{% endblock %}


{% block body %}

    <div class="container">
      <div class="col-sm-10">
        <h3>Page d'accueil administrateur </h3>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <h2>ASSO</h2>
          <div class="row">
            <div class="col-sm-12">
              <div class="btn-group">
                <a href="{{ path('asso_sport_admin_profil') }}" class="btn btn-default btn-lg">/profil</a>
                <a href="{{ path('asso_sport_admin_listemembresasso') }}" class="btn btn-default btn-lg">/membres/asso</a>
                <a href="{{ path('asso_sport_admin_statAdherent') }}" class="btn btn-default btn-lg"> //adherent/stat</a>
                <a href="{{ path('asso_sport_admin_profil') }}" class="btn btn-default btn-lg">/profil</a>
                <a href="{{ path('asso_sport_admin_sport') }}" class="btn btn-default btn-lg">/sport</a>
                <a href="{{ path('asso_sport_admin_typesport') }}" class="btn btn-default btn-lg">/typesport</a>
                <a href="{{ path('asso_sport_admin_listemembresasso') }}" class="btn btn-default btn-lg">/membres/asso</a>
                <a href="{{ path('asso_sport_admin_listeactivites') }}" class="btn btn-default btn-lg"> /activites</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2>PROJET</h2>
          <div class="row">
            <div class="col-sm-12">
              <div class="btn-group">
                <a href="{{ path('asso_sport_admin_listemembresprojet') }}" class="btn btn-default btn-lg">/membres/projet</a>
                <a href="{{ path('asso_sport_admin_projet') }}" class="btn btn-default btn-lg">/projet</a>
                <a href="{{ path('asso_sport_admin_profilprojet') }}" class="btn btn-default btn-lg">/profilprojet</a>
                <a href="{{ path('asso_sport_admin_statProjetAction') }}" class="btn btn-default btn-lg">/projet/stat</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2>SITE INTERNET</h2>
          <div class="row">
            <div class="col-sm-12">
              <div class="btn-group">
                <a href="{{ path('asso_sport_admin_listeall') }}" class="btn btn-default btn-lg">/membres</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <table>

    <thead> <!-- En-tête du tableau -->
       <tr>
           <th>Nom</th>
           <th>Prénom</th>
           <th>Taille</th>
           <th>Date de naissance</th>
           <th>Poids</th>
           <th>Sexe</th>
           <th>Adresse mail</th>
       </tr>
   </thead>

    <tbody>
    {% for utilisateur in utilisateurs %}

    <tr>
      <td>{{ utilisateur.nom }}</td>
      <td>{{ utilisateur.prenom }}</td>
      <td>{{ utilisateur.taille }}</td>
      <td>{{ utilisateur.poids }}</td>
      <td>{{ utilisateur.sexe }}</td>
      <td>{{ utilisateur.email }}</td>
    </tr>
        {% endfor %}

    </tbody>

    </table>

    <table>

    <thead> <!-- En-tête du tableau -->
       <tr>
           <th>Date</th>
           <th>Nom</th>
           <th>Prénom</th>
           <th>Temps(min)</th>
           <th>Sport</th>
           <th>Borg(de 6 à 20)</th>
           <th>Sensation(de 1 à 4)</th>
           <th>Distance km</th>
       </tr>
   </thead>

    <tbody>
    {% for activite in activites %}

    <tr>
      <td>{{ activite.date|date("m/d/Y") }}</td>
      <td>{{ activite.utilisateur.nom }}</td>
      <td>{{ activite.utilisateur.prenom }}</td>
      <td>{{ activite.temps }}</td>
      <td>{{ activite.sport.nom }}</td>
      <td>{{ activite.borg }}</td>
      <td>{{ activite.sensation }}</td>
      <td>{{ activite.distanceKm }}</td>
    </tr>
        {% endfor %}

    </tbody>

    </table>

{% endblock %}
