{% extends "::base.html.twig" %}

{% block title %}Accueil Administrateur{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
{% endblock %}

{% block body %}

    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <h1>Page d'accueil administrateur </h1>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <h2>ASSO</h2>
          <div class="row">
            <div class="col-sm-12">
              <div class="btn-group btn-group-justified">
                <a href="{{ path('asso_sport_admin_profil') }}" class="btn btn-default btn-lg">Ajout profil adhérent</a>
                <a href="{{ path('asso_sport_admin_listemembresasso') }}" class="btn btn-default btn-lg">Liste des membres</a>
                <a href="{{ path('asso_sport_admin_sport') }}" class="btn btn-default btn-lg">Ajout sport</a>
                <a href="{{ path('asso_sport_admin_typesport') }}" class="btn btn-default btn-lg">Ajout type sport</a>
                <a href="{{ path('asso_sport_admin_listeactivites') }}" class="btn btn-default btn-lg">Liste des activités</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2>PROJET</h2>
          <div class="row">
            <div class="col-sm-12">
              <div class="btn-group btn-group-justified">
                <a href="{{ path('asso_sport_admin_listemembresprojet') }}" class="btn btn-default btn-lg">Membres Terre Lune</a>
                <a href="{{ path('asso_sport_admin_projet') }}" class="btn btn-default btn-lg">Ajout projet</a>
                <a href="{{ path('asso_sport_admin_profilprojet') }}" class="btn btn-default btn-lg">Ajout profil projet</a>
                <a href="{{ path('asso_sport_admin_statProjetAction') }}" class="btn btn-default btn-lg">Nb d'utilisateur/catégories</a>
                <a href="{{ path('asso_sport_admin_distanceprojet') }}" class="btn btn-default btn-lg">Distance totale parcourue</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2>SITE INTERNET</h2>
          <div class="row">
            <div class="col-sm-12">
              <div class="btn-group btn-group-justified">
                <a href="{{ path('asso_sport_admin_listeall') }}" class="btn btn-default btn-lg">Liste membres du site</a>
                <a href="{{ path('asso_sport_admin_demandes') }}" class="btn btn-default btn-lg">Demandes d'inscriptions</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2>Derniers inscrits</h2>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-hover">
                <thead> <!-- En-tête du tableau -->
                   <tr>
                       <th>Nom</th>
                       <th>Prénom</th>
                       <th>Taille</th>
                       <th>Date de naissance</th>
                       <th>Poids</th>
                       <th>Sexe</th>
                       <th>Adresse mail</th>
                   </tr>
               </thead>
                <tbody>
                {% for utilisateur in utilisateurs %}
                <tr>
                  <td>{{ utilisateur.nom }}</td>
                  <td>{{ utilisateur.prenom }}</td>
                  <td>{{ utilisateur.taille }}</td>
                  <td>{{ utilisateur.dateNaissance|date('d-m-Y') }}</td>
                  <td>{{ utilisateur.poids }}</td>
                  <td>{{ utilisateur.sexe }}</td>
                  <td>{{ utilisateur.email }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h2>Dernières activités</h2>
              <table class="table table-hover">
                <thead> <!-- En-tête du tableau -->
                   <tr>
                       <th>Date</th>
                       <th>Nom</th>
                       <th>Prénom</th>
                       <th>Temps(min)</th>
                       <th>Sport</th>
                       <th>Borg(de 6 à 20)</th>
                       <th>Sensation(de 1 à 4)</th>
                       <th>Distance km</th>
                   </tr>
               </thead>

                <tbody>
                {% for activite in activites %}
                <tr>
                  <td>{{ activite.date|date("m/d/Y") }}</td>
                  <td>{{ activite.utilisateur.nom }}</td>
                  <td>{{ activite.utilisateur.prenom }}</td>
                  <td>{{ activite.temps }}</td>
                  <td>{{ activite.sport.nom }}</td>
                  <td>{{ activite.borg }}</td>
                  <td>{{ activite.sensation }}</td>
                  <td>{{ activite.distanceKm }}</td>
                </tr>
                {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
