<!DOCTYPE html>
<html>
  <title>Carnet de bord</title>
  <body>
	<h1>Carnet de bord de {{ utilisateur.prenom }} {{ utilisateur.nom }}</h1>
	<h3>Statistiques de la semaine</h3>

	<p>Temps total : {{ tempsSemaine }} minutes</p>
	<p>Distance parcourue : {{ distanceSemaine }} km</p>
	<p>Sensation moyenne : {{ moyenneSensation }} 
	<p>Vous avez fait les activités suivantes :</p>
	
	<h3>Intensité de la semaine</h3>
	<ul><li>Faible : {{sensation1/sensationTotale *100}}</li>
	<li>Modérée : {{sensation2/sensationTotale *100}}</li>
	<li>Assez difficile : {{sensation3/sensationTotale *100}}</li>
	<li>Très difficile : {{sensation4/sensationTotale *100}}</li>
	</ul>
	
	<a href="{{ path('asso_sport_adherent_homepage') }}">Ajouter une activité</a>
	<a href="{{ path('asso_sport_adherent_stats') }}">Statistiques du mois</a>
  </body>
</html>