{% extends "::base.html.twig" %}

{% block title %}Ajout d'activité{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/adherent.css') }}" />
{% endblock %}

{% block body %}


<link rel="stylesheet" href="{{ asset('css/form.css') }}" />

    <div class="container">
      <div class="col-sm-12">
        <h2>Formulaire d'ajout : activité de la semaine</h2>
      </div>
    </div>

    <div class="container">
      {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

      {{ form_start(form) }}

      <div class="form-group">
        {{ form_label(form.date, 'Date', {'label_attr': {'class': 'col-sm-2 control-label required'}}) }}
        <div class="col-sm-10">{{ form_widget(form.date, {'label_attr': {'class': 'form-control'}}) }}</div>
        {{ form_errors(form.date) }}
      </div>
	  <div class="form-group">
        {{ form_label(form.sport, 'Sport pratiqué', {'label_attr': {'class': 'col-sm-2 control-label required'}}) }}
        <div class="col-sm-10">{{ form_widget(form.sport, {'label_attr': {'class': 'form-control'}}) }}</div>
        {{ form_errors(form.sport) }}
      </div>
      <div class="form-group">
        {{ form_label(form.temps, 'Temps (minutes)', {'label_attr': {'class': 'col-sm-2 control-label required'}}) }}
        <div class="col-sm-10">{{ form_widget(form.temps, {'label_attr': {'class': 'form-control'}}) }}</div>
        {{ form_errors(form.temps) }}
      </div>
	  <div class="form-group">
        {{ form_label(form.distanceKm, 'Distance parourue (km)', {'label_attr': {'class': 'col-sm-2 control-label required'}}) }}
        <div class="col-sm-10">{{ form_widget(form.distanceKm, {'label_attr': {'class': 'form-control'}}) }}</div>
        {{ form_errors(form.distanceKm) }}
      </div>
	  <p>Entrez 0 si le sport pratiqué n'implique aucune distance parcourue.</p>
	  <div class="form-group">
        {{ form_label(form.borg, 'Echelle de Borg', {'label_attr': {'class': 'col-sm-2 control-label required'}}) }}
        <div class="col-sm-10">{{ form_widget(form.borg, {'label_attr': {'class': 'form-control'}}) }}</div>
        {{ form_errors(form.borg) }}
      </div>
	  <p>6 = aucun effort, 7-8 = extrêmement faible, 9-10 = très faible, 11-12 = faible, 13-14 = un peu dur, 15-16 = dur, 17-18 = très dur, 19 = extrêmement dur, 20 = effort maximal</p>
      <div class="form-group">
        {{ form_label(form.sensation, 'Sensation ressentie durant l\'effort', {'label_attr': {'class': 'col-sm-2 control-label required'}}) }}
        <div class="col-sm-10">{{ form_widget(form.sensation, {'label_attr': {'class': 'form-control'}}) }}</div>
        {{ form_errors(form.sensation) }}
      </div>
      <p>1 = Faible, 2 = Modérée, 3 = Assez difficile, 4 = Difficile</p>
      
      <div class="form-group" >
        {{ form_label(form.projet, 'Ajouter aussi à un projet ?', {'label_attr': {'class': 'col-sm-2 control-label required'}}) }}
        <div class="col-sm-10">{{ form_widget(form.projet, {'label_attr': {'class': 'form-control'}}) }}</div>
        {{ form_errors(form.projet) }}
      </div>
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}</div>
      </div>

      {{ form_end(form) }}

    </div>


{% endblock %}
