{% extends "::base.html.twig" %}

{% block title %}Statistiques globales{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/adherent.css') }}" />
{% endblock %}

{% block scriptlink %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block body %}

    <div class="container">
      <div class="row">
        <div class=" col-md-5 text-center">
          <h2>Cumul des activités pysiques par mois</h2>
            {{ include("AssoSportAdherentBundle:Chart:AP_chart.html.twig") }}
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 text-center">
          <h2>Intensités moyennes</h2>
          {{ include("AssoSportAdherentBundle:Chart:int_chart.html.twig") }}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class=" col-md-12 text-center">
          <div class="btn-group">
            <a href="{{ path('asso_sport_adherent_homepage') }}" class="btn btn-primary">Ajouter une activité</a>
            <a href="{{ path('asso_sport_adherent_stats') }}" class="btn btn-primary">Statistiques du mois</a>
          </div>
        </div>
      </div>
    </div>

    <br />

{% endblock %}
