{% extends "::base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/home.css') }}" />
{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
  <title>Carnet de bord</title>
  <body>
    <h1>Statistiques de {{ utilisateur.prenom }} {{ utilisateur.nom }}</h1>
    <h3>Statistiques du mois</h3>

    <h4>Cumul AP par mois</h4>
    <p>{{ dateCeMois }} : {{ tempsMois }} minutes</p>
    <p>{{ dateMois1 }} : {{ tempsMois1 }} minutes</p>
    <p>{{ dateMois2 }} : {{ tempsMois2 }} minutes</p>
    <p>{{ dateMois3 }} : {{ tempsMois3 }} minutes</p>

    <h4>Intensités moyennes</h4>
    <p>{{ dateCeMois }} : {{ moyenneSensation }}</p>
    <p>{{ dateMois1 }} : {{ moyenneSensation1 }}</p>
    <p>{{ dateMois2 }} : {{ moyenneSensation2 }}</p>
    <p>{{ dateMois3 }} : {{ moyenneSensation3 }}</p>

    <a href="{{ path('asso_sport_adherent_homepage') }}">Ajouter une activité</a>
    <a href="{{ path('asso_sport_adherent_carnetbord') }}">Retour au carnet de bord</a>
{% endblock %}
